{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aws:iam::${aws_account_id}:root"
      },
      "Action": "s3:PutObject",
      "Resource": [
        "${s3_alb_connections_logs}",
        "${s3_alb_access_logs}"
      ]
    }
  ]
}